/**
 * I know what you are thinking... this css is awful.
 * Sorry.
 */

$black: #001011;
$white: #f2f2e6;
$salmon: #ed6767;
$purple: #793f5c;
$desktop: 600px;

/* From LTP-2.0 style sheet */
$themes: (
  light: (
    primary: #f9f3ed,
    secondary: #342e37,
    active-color: #a43a4b,
    alt-color: #e57853,
  ),
  dark: (
    primary: #001011,
    secondary: #f2f2e6,
    active-color: #ed6767,
    alt-color: #793f5c,
  ),
  blue: (
    primary: #323846,
    secondary: #fbf9f3,
    active-color: #c3f7eb,
    alt-color: #78dbf4,
  ),
);

body,
html {
  background: $black;
  color: $white;
  font-family: "Roboto", cursive;
  overflow: hidden;
  position: fixed;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0.2em;
}

h2 {
  font-size: 1.8rem;
  margin: 0.3em;
  color: $white;
  text-shadow: 1px -1px #ed6767, 2px -2px #ed6767, 2px -2px #ed6767,
    2px -2px #ed6767, 2px -2px #ed6767, 2px -2px #ed6767, 2px -2px #ed6767,
    2px -2px #ed6767;
}

body button {
  border: none;
  color: $white;
  background: $salmon;
  padding: 1em;
  cursor: pointer;
  margin: 0.5em auto;
  &:hover {
    background: #e95959; /* slightly darker salmon */
  }
  min-width: 10em;
}

.desktop {
  display: none;
}
.mobile {
  display: block;
}
@media screen and (min-width: $desktop) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.blurable {
  transition: all 1.5s;
}
.blurable.blur {
  filter: blur(4px) brightness(40%);
  -webkit-transition: 1.5s -webkit-filter linear;
  -moz-transition: 1.5s -moz-filter linear;
  -moz-transition: 1.5s filter linear;
  -ms-transition: 1.5s -ms-filter linear;
  -o-transition: 1.5s -o-filter linear;
  transition: 1.5s filter linear, 1.5s -webkit-filter linear;
}

.hidden-animation {
  animation: hide 5s;
}

.hidden {
  display: none !important;
}

/* Badge is an SVG button */
button.badge {
  border-radius: 50%;
  fill: #fff;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: initial;

  svg {
    /* Assumes viewbox is 1x1 */
    height: 18px;
    width: 18px;
  }
  -webkit-box-shadow: 0px 0px 10px 0px $black;
  -moz-box-shadow: 0px 0px 10px 0px $black;
  box-shadow: 0px 0px 10px 0px $black;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

body h1 {
  @media screen and (min-width: $desktop) {
    font-size: 4em;
  }
  font-size: 2.8em;

  color: $white;
}

/* Menu Container */
main {
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;
  width: 100vw;
  top: 0;
  height: 100vh;
  margin-top: auto;
  text-align: center;
  #menu-ctr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    canvas {
      position: relative;
      display: initial;
      width: 100%;
      @media screen and (min-width: $desktop) {
        max-width: 40%;
      }
    }
  }
  .menu-section {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  #hud-ctr {
    #hud-buttons {
      position: fixed;
      right: 10px;
      bottom: 10px;
    }
  }

  /* A keyboard key like style*/
  .key {
    font-size: 1.3rem;
    background: rgb(143, 143, 143);
    background: linear-gradient(149deg, #848484 0%, #c9c9c9 17%, #fafafa 100%);
    border-radius: 4px;
    box-shadow: inset 6px 0px 15px 6px #848484, 0px 0px 0px 2px #737373;
    color: $black;
    padding: 2px 5px;
    font-family: Helvetica, sans-serif;
  }

  footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 2em;
    width: 100%;
    height: 80px;
    .icon {
      fill: $white;
      height: 2.5em;
      width: 2.5em;
      cursor: pointer;
      margin: 0 1em;
      &:hover {
        fill: $salmon;
      }
    }
  }
}
